{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Db bookstore Page
{% endblock %}

{% block content %}
    <h1>book from Db</h1>
    
    {% comment %} <a href="{% url 'books.create' %}" class="btn btn-dark">Create New Product </a> {% endcomment %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Show</th>
                <th>Crud</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.price }}</td>
                <td>
                    {% comment %} <img src="{% static 'books/images/' %}{{ book.image }}" width="200" height="200" alt=""> {% endcomment %}
                     <img width="200" height="200" src="{{book.image_url}}">
                </td>
                {% comment %} <td>
                    <a class="btn btn-info" href="{% url 'books.getbookbyid' book.id %}">Show</a>
                </td> {% endcomment %}

                <td >
                    <a class="btn btn-info" href="{% url 'books.show_index' book.id%}"> Show</a>

                    {% comment %} <a class="btn btn-info" href="{{book.show_url}}"> Show</a> {% endcomment %}
                    
                </td>
                <td >
                    <a class="btn btn-danger" href="{{book.delete_url}}"> Delete</a>
                    <a class="btn btn-primary" href="{{book.delete_url}}"> Update</a>

                    

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
