{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% comment %} <img src="{% static 'books/images/' %}{{ book.image }}" class="card-img-top" alt="..."> {% endcomment %}
    <img src="{{book.image_url}}" class="card-img-top" alt="...">

    <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <p class="card-text">Price: {{ book.price }}</p>
        <p class="card-text">Created_at{{book.created_at}}</p>
        <p class="card-text">Updated_at{{book.updated_at}}</p>
        {{book.show_url}}
        <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
</div>
{% endblock %}
